<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>People Left Homeless</title>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
   <select id="selDataset" onchange="grabData(this.value)">
         <option value="All natural disasters">All Natural Disasters</option>
         <option value="Extreme weather">Extreme Weather</option>
         <option value="Flood">Flood</option>
         <option value="Earthquake">Earthquake</option>
         <option value="Volcanic activity">Volcano</option>
         <option value="Wildfire">Wildfire</option>
         <option value="Extreme temperature">Extreme Temperature</option>
         <option value="Landslide">Landslide</option>
         <option value="Mass movement (dry)">Mass Movement</option>
         <option value="Drought">Drought</option>
   </select>
   <div id="homeless" style="height:650px; width:1250px"></div>
   <script src="../static/js/homeless_data.js"></script>
   <script src="../static/js/homeless_plot.js"></script>
</body>
</html>